node_modules/
.direnv/
dist/
dist-background/
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/icons/*
!src-tauri/icons/icon.png
vendor/taskyon/*/dist/
playwright-report/
test-results/
.yarn/install-state.gz
*.local
*.log
